Source: newsreader
Maintainer: michaelgautier <michaelgautier.wordpress.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Package: newsreader
Architecture: amd64
Build-Depends: g++, make, libgtk-3-dev, libwebkit2gtk-4.0-dev, libsqlite3-dev, libcurl4-gnutls-dev, libxml2-dev, libappstream-dev, debhelper
Depends: libgtk-3, libwebkit2gtk-4.0, libsqlite3, libcurl4-gnutls, libxml2
Description: Shows Internet feeds in a clean and obvious way.
