Source: newsreader
Section: contrib/net
Priority: optional
Maintainer: michaelgautier <michaelgautier@michaelgautier.github.io>
Standards-Version: 4.4.0
XSBC-Original-Maintainer: Michael Gautier <michaelgautier@michaelgautier.github.io>
Vcs-Browser: https://github.com/michaelgautier/gautier_rss_reader7/
Vcs-Git: https://github.com/michaelgautier/gautier_rss_reader7.git
Homepage: https://michaelgautier.github.io/gautier_rss_reader7/
Build-Depends: debhelper (>= 10)

Package: newsreader
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Shows Internet feeds in a clean and obvious way
 You can add new feeds or purge those you no longer need. 
 The program uses a native code UI that runs smooth with no bloat.
 NOTE:
 - Feed providers prefer their site accessed no earlier than once per hour.
 - The program respects those conditions by default.
 
