[Desktop Entry]
Type=Application
Categories=Network;WebBrowser;Office;
Name=Gautier RSS Reader
Exec=newsreader
Terminal=false
Icon=newsreader
Comment=Shows RSS/Atom feeds in a simple and clean window
Keywords=rss;atom;rss feed;atom feed;news feed;news reader;news aggregator;feed aggregator;rss reader;newsreader;gautier rss;gautier rss reader;

